[Unit]
Description=MPD web frontend written in Rust
After=remote-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
User=pi
Group=pi
Type=simple
ExecStart=/home/pi/rump/rump
WorkingDirectory=/home/pi/rump/
TimeoutStopSec=5
KillMode=process
Restart=on-failure
Environment=RUST_LOG=warn
