@font-face {
    font-family: 'Mona Sans';
    src: url('/assets/MonaSans.woff2') format('woff2 supports variations'), url('/assets/MonaSans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

html {
    width: 100dvw;
    height: 100dvh;
}

body {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, rgb(108, 95, 38) 0%, rgb(52, 59, 98) 100%);
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Mona Sans', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}

body.error {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 22px;
        margin-bottom: 2px;
    }
}

a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.95);
}

::placeholder {
    color: rgb(255, 255, 255, 0.25);
    opacity: 1
}

#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    min-width: 192px;
    height: calc(100dvh - 64px);
}

#navbar>a>span {
    white-space: nowrap;
}

#navbar>a {
    margin: 3dvh;
    margin-left: 20px;
    margin-right: 0;
    padding: 15px;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar>a.active {
    background-color: rgba(255, 255, 255, 0.25);
}

#navbar>a>i {
    visibility: collapse;
    display: none;
}

@media screen and (max-width: 768px) {
    #navbar {
        min-width: initial;
        width: 100%;
        height: 64px;
        flex-direction: row;
    }

    #navbar>a {
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
}
@media screen and (max-width: 425px) {
    #navbar>a>i {
        visibility: visible;
        display: initial;
    }
    #navbar>a>span {
        visibility: collapse;
        display: none;
    }
}

#main {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 64px - 2*10px);
    flex-grow: 1;
    overflow: auto;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    #main {
        height: calc(100dvh - 64px - 2*10px - 64px);
        flex-grow: 0;
    }
}

#content {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
}

#statusbar {
    width: 100%;
    background-color: rgba(192, 192, 192, 0.25);
    height: 64px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.spacer {
    height: 512px;
}

button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    transition: all 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

button:active {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.25);
}

#statusbar>button {
    margin: 3px;
}

#statusbar>.play {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

#statusbar>.skip {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.current-song {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.current-song img {
    width: 48px;
    height: 48px;
    border: 5px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.current-song img:hover {
    border: 5px solid rgba(255, 255, 255, 0.5);
    transition: all 0.25s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.current-song div {
    display: flex;
    flex-direction: column;
    width: 256px;
    margin-left: 10px;
    justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
    #statusbar {
        justify-content: flex-start;
    }

    .current-song div {
        width: calc(100dvw - 220px);
    }
}
@media screen and (max-width: 425px) {
    #statusbar {
        justify-content: flex-start;
    }

    .current-song img {
        visibility: collapse;
        display: none;
    }

    .current-song div {
        width: calc(100dvw - 160px);
    }
}

input {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.30);
    font-size: 20px;
    border-radius: 5px;
    height: 36px;
    color: rgba(255, 255, 255, 0.75);
    padding-left: 10px;
    padding-right: 10px;
}

.albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album {
    background-color: rgba(255, 255, 255, 0.25);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.25s;
    width: calc(25% - 2*10px - 2*5px);
    pointer-events: none;
}

.album:hover {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 14px;
    margin: 1px;
}

.album button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    pointer-events: auto;
}

@media screen and (max-width: 1024px) {
    .album {
        width: calc(33% - 2*10px - 2*5px);
    }
}

@media screen and (max-width: 768px) {
    .album button>span {
        visibility: collapse;
        display: none;
    }

    .album button {
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }
}

@media screen and (max-width: 425px) {
    .album {
        width: calc(50% - 2*10px - 2*5px);
    }
}

@media screen and (max-width: 320px) {
    .album {
        width: calc(50% - 4*4px);
    }

    .album {
        margin: 4px;
        padding: 4px;
    }

    .album:hover {
        margin: 1px;
        padding: 7px;
    }
}

.album>img {
    aspect-ratio: 1;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(192, 192, 192, 0.5) 100%);
    pointer-events: auto;
}

.album button>span {
    margin-left: 5px;
}

.album-cover {
    border-radius: 5px;
    margin-bottom: 5px;
}

.album>div:last-child {
    display: flex;
    flex-direction: row;
}

.album>div {
    margin-top: 5px;
}

.album>div:last-child>button {
    margin-left: 10px;
}

.album>div:last-child>button:nth-child(1) {
    margin-left: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.artists>a {
    margin: 0px;
    padding: 10px;
    width: calc(25% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.25s;
}
@media screen and (max-width: 1024px) {
    .artists>a {
        width: calc(33% - 20px);
    }
}
@media screen and (max-width: 425px) {
    .artists>a {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 320px) {
    .artists>a {
        width: 100%;
    }
}

.artists>a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.artists>h1 {
    width: 100%;
    margin: 10px;
}

.album-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.album-header>div:nth-child(1) {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
}

.album-header>div:nth-child(1)>img {
    border-radius: 5px;
    width: 192px;
    height: 192px;
}

.album-header>div:nth-child(2) {
    margin-left: 20px;
}

.album-header>div:nth-child(2)>div {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .album-header>div:nth-child(1)>img {
        width: 128px;
        height: 128px;
    }
}

@media screen and (max-width: 425px) {
    .album-header>div:nth-child(1) {
        display: none;
        visibility: collapse;
    }

    .album-header>div:nth-child(2) {
        margin-left: 10px;
    }
}

.album-header button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.album-header button>span {
    margin-left: 5px;
}

.album-header button:nth-child(1) {
    margin-left: 0px;
}

.album-songs {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.album-songs>div {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px;
    align-items: baseline;
}

.album-songs>div:last-child {
    border-bottom: 0;
}

.album-songs>div>span {
    flex-grow: 1;
}

.album-songs>div>button {
    border: 0;
    margin: 5px;
    background: transparent;
    border: 0;
    box-shadow: 0 0 0;
    color: rgba(255, 255, 255, 0.75);
}

.album-songs div button:active {
    color: rgba(255, 255, 255, 0.25);
}

.playlist {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.playlist>* {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlist>*:last-child {
    border-bottom: 0;
}

.playlist>.current {
    font-weight: bold;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
}

.playlist-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlist-buttons button {
    padding: 10px;
    border-radius: 5px;
    width: 64px;
}

.database {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.database tr>* {
    width: 50%;
}

#now-playing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#now-playing-content>* {
    max-width: 100%;
}

#now-playing-content>div.cover {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

#now-playing-content>h1 {
    max-width: 100%;
}

.progress {
    display: flex;
    margin: 10px;
    width: calc(100% - 20px);
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.progress>span {
    width: 64px;
    max-width: 64px;
    min-width: 64px;
    text-align: center;
}
.progress>div {
    flex-grow: 1;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.25);
}
.progress>div>div {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    top: -4px;
}