<ul class="nav nav-tabs pt-3 ps-3">
    <li class="nav-item">
        <a href="#" class="nav-link active" hx-get="/library" hx-target="#content">Library</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" hx-get="/playlist" hx-target="#content">Playlist</a>
    </li>
</ul>

<H3 class="p-3"><a href="#" hx-get="/albums?artist={{artist|urlencode_strict}}" hx-target="#content">{{artist}}</a>: {{album}}</H3>

<div class="list-group ps-3 pe-3 pb-3">
    {% for song in songs %}
    <div class="list-group-item d-flex justify-content-between align-items-baseline">
        <span class="me-auto">
            {{song.title}}
        </span>

        <button type="button" class="btn btn-link" hx-get="/playlist/play/song?url={{song.url|urlencode_strict}}" hx-swap="none">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#play-fill"/>
            </svg>
        </button>
        <button type="button" class="btn btn-link" hx-get="/playlist/append/song?url={{song.url|urlencode_strict}}" hx-swap="none">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="assets/bootstrap-icons.svg#plus-circle-fill"/>
            </svg>
        </button>
    </div>

    {% endfor %}
</div>