{% match tabs %}
{% when Some(tabs) %}
{{ tabs|e("none") }}
{% when None %}
{% endmatch %}

<h1>{{artist}}</h1>
<div class="albums">
{% for album in albums %}
<div class="album">
    <img class="album-cover"
        src="/cover?artist={{artist|urlencode_strict}}&album={{album.album_name|urlencode_strict}}"
        hx-get="/songs?artist={{artist|urlencode_strict}}&album={{album.album_name|urlencode_strict}}" hx-push-url="true" hx-target="#content" hx-trigger="click"
    >
    <b class="ellipsis">{{album.album_name}}</b>
    <div>
        {% match album.year %}
        {% when Some(year) %}
        {{year}}
        {% when None %}
        &nbsp;
        {% endmatch %}
    </div>
    <div>
        <button hx-get="/playlist/play/album?artist={{artist|urlencode_strict}}&album={{album.album_name|urlencode_strict}}" hx-swap="none">
            <i class="fa-solid fa-play"></i><span>Play</span>
        </button>
        <button hx-get="/playlist/append/album?artist={{artist|urlencode_strict}}&album={{album.album_name|urlencode_strict}}" hx-swap="none">
            <i class="fa-solid fa-square-plus"></i><span>Append</span>
        </button>
    </div>
</div>
{% endfor %}
</div>
