<ul class="nav nav-tabs pt-3 ps-3">
    <li class="nav-item">
        <a href="#" class="nav-link active" hx-get="/library" hx-target="#content">Library</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" hx-get="/playlist" hx-target="#content">Playlist</a>
    </li>
</ul>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
{% for album in albums %}
<div class="card m-2 shadow" style="max-width: 256px; min-width: 256px;">
    <a href="#" hx-get="/artist/{{artist}}/album/{{album.album_name}}/songs" hx-target="#content">
        {% match album.art %}
        {% when Some(art) %}
        <img src="data:image/;base64,{{art}}" class="card-img-top">
        {% when None %}
        <img src="/assets/lp.png" class="card-img-top">
        {% endmatch %}
    </a>

    <div class="card-body">
        <h5 class="card-title">{{album.album_name}}</h5>
        <p class="card-text">
            {% match album.year %}
            {% when Some(year) %}
            {{year}}
            {% when None %}
            {% endmatch %}
            &nbsp;
        </p>
        <a href="#" class="btn btn-primary">Play</a>
        <a href="#" class="btn btn-primary">Append</a>
        <a href="#" class="btn btn-primary" hx-get="/artist/{{artist}}/album/{{album.album_name}}/songs" hx-target="#content">
            Songs
        </a>
    </div>
</div>
{% endfor %}
</div>