{{ tabs|e("none") }}

<div class="album-header">
    <div><img src="/cover?artist={{artist|urlencode_strict}}&album={{album|urlencode_strict}}"></div>
    <div>
        <h1 class="ellipsis">{{artist}}</h1>
        <h1 class="ellipsis">{{album}}</h1>
        <!--span>year</span-->
        <div>
            <button hx-get="/playlist/play/album?artist={{artist|urlencode_strict}}&album={{album|urlencode_strict}}" hx-swap="none">
                <i class="fa-solid fa-play"></i> Play
            </button>
            <button hx-get="/playlist/append/album?artist={{artist|urlencode_strict}}&album={{album|urlencode_strict}}" hx-swap="none">
                <i class="fa-solid fa-square-plus"></i> Append
            </button>
        </div>
    </div>
</div>
<div class="album-songs">
    {% for song in songs %}
    <div>
        <span>{{song.title}}</span>
        <button hx-get="/playlist/play/song?url={{song.url|urlencode_strict}}" hx-swap="none">
            <i class="fa-solid fa-play"></i>
        </button>
        <button hx-get="/playlist/append/song?url={{song.url|urlencode_strict}}" hx-swap="none">
            <i class="fa-solid fa-square-plus"></i>
        </button>
    </div>
    {% endfor %}
</div>
