{% match tabs %}
{% when Some(tabs) %}
{{ tabs|e("none") }}
{% when None %}
{% endmatch %}

<table class="database">
    <tr>
        <th>MPD server</th>
        <td>{{mpd_addr}}</td>
    </tr>  
  <tr>
      <th>Artists</th>
      <td>{{stats.artists}}</td>
  </tr>
  <tr>
      <th>Albums</th>
      <td>{{stats.albums}}</td>
  </tr>
  <tr>
      <th>Songs</th>
      <td>{{stats.songs}}</td>
  </tr>
  <tr>
      <th>Uptime</th>
      <td>{{stats.uptime.as_secs()|duration}}s</td>
  </tr>
  <tr>
      <th>Playtime</th>
      <td>{{stats.playtime.as_secs()|duration}}s</td>
  </tr>
  <tr>
      <th>DB playtime</th>
      <td>{{stats.db_playtime.as_secs()|duration}}s</td>
  </tr>
  <tr>
      <th>DB Updated</th>
      <td>{{stats.db_last_update|datetime}}</td>
  </tr>
</table>

<div hx-get="/database/update_status" hx-trigger="load, every 2s" class="playlist-buttons"></div>
