<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RUMP</title>
    <script src="/assets/htmx.min.js"></script>
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/font-awesome/all.min.css" rel="stylesheet">
</head>

{% match error %}
{% when Some(error) %}
<body class="error">
    <h1>Connection error</h1>
    <span>{{error}}</span>
</body>
{% when None %}
<body hx-ws="connect:/status">
    {{tabs|e("none")}}

    <div id="main">
        <div id="content">
            {% match page %}
            {% when Page::Library(library) %}
            {{library|e("none")}}
            {% when Page::Albums(albums) %}
            {{albums|e("none")}}
            {% when Page::Songs(songs) %}
            {{songs|e("none")}}
            {% when Page::NowPlaying(now_playing) %}
            {{now_playing|e("none")}}
            {% when Page::Database(database) %}
            {{database|e("none")}}
            {% when Page::Playlist(playlist) %}
            {{playlist|e("none")}}
            {% endmatch %}
        </div>
    </div>

    <div id="statusbar">
        <button class="skip" disabled>
            <i class="fa-solid fa-backward-step"></i>
        </button>
        <button class="play" disabled>
            <i class="fa-solid fa-play"></i>
        </button>
        <button class="skip" disabled>
            <i class="fa-solid fa-forward-step"></i>
        </button>
    </div>
</body>
{% endmatch %}

</html>