<div id="playlist-songs">
    <div class="playlist">
        {% for song in songs %}
        <div {%if song.playing %}class="current"{% endif %}>
            <a href="#" hx-get="/control/play?song_id={{song.id|urlencode_strict}}" hx-swap="none">
                {{song.artist}} - {{song.title}}
            </a>
            <a href="#" hx-get="/playlist/remove/song?song_id={{song.id|urlencode_strict}}" hx-swap="none">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </div>
        {% endfor %}
        {%if songs.is_empty() %}
        <div>( Empty )</div>
        {% endif %}
    </div>
    <div class="playlist-buttons">
        <div>
            <button hx-get="/control/toggle_repeat" hx-swap="none" title="Repeat: {% if status.repeat %}ON{% else %}OFF{% endif %}">
                {% if status.repeat %}
                <i class="fa-solid fa-repeat"></i>
                {% else %}
                <i class="fa-solid fa-arrow-right"></i>
                {% endif %}
            </button>
            <button hx-get="/control/toggle_random" hx-swap="none" title="Shuffle: {% if status.random %}ON{% else %}OFF{% endif %}">
                {% if status.random %}
                <i class="fa-solid fa-shuffle"></i>
                {% else %}
                <i class="fa-solid fa-arrow-down-1-9"></i>
                {% endif %}
            </button>
            <!--button hx-get="..." hx-swap="none" title="...">
                {% match status.single_mode %}
                {% when mpd_client::commands::SingleMode::Enabled %}
                <i class="fa-solid fa-..."></i>
                {% when mpd_client::commands::SingleMode::Disabled %}
                <i class="fa-solid fa-..."></i>
                {% when mpd_client::commands::SingleMode::Oneshot %}
                <i class="fa-solid fa-..."></i>
                {% endmatch %}
            </button-->
        </div>
        <div>
            <button {%if songs.is_empty() %}disabled{% endif %} hx-get="/playlist/clear" hx-swap="none">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
</div>
