<div id="statusbar">
    <button class="skip" {% if !status.has_prev %}disabled{% endif %} hx-get="/control/prev" hx-swap="none">
        <i class="fa-solid fa-backward-step"></i>
    </button>
    <button class="play" hx-swap="none"
        {% if !status.has_song %}disabled{% endif %}
        {% match status.play_state %}
        {% when mpd_client::responses::PlayState::Stopped %}
        hx-get="/control/play"
        {% when mpd_client::responses::PlayState::Playing %}
        hx-get="/control/pause"
        {% when mpd_client::responses::PlayState::Paused %}
        hx-get="/control/unpause"
        {% endmatch %}
    >
        {% match status.play_state %}
        {% when mpd_client::responses::PlayState::Stopped %}
        <i class="fa-solid fa-play"></i>
        {% when mpd_client::responses::PlayState::Playing %}
        <i class="fa-solid fa-pause"></i>
        {% when mpd_client::responses::PlayState::Paused %}
        <i class="fa-solid fa-play"></i>
        {% endmatch %}
    </button>
    <button class="skip" {% if !status.has_next %}disabled{% endif %} hx-get="/control/next">
        <i class="fa-solid fa-forward-step"></i>
    </button>
    {% if status.has_song %}
    {% match status.artist %}{% when Some with (artist) %}
    {% match status.album %}{% when Some with (album) %}
    <div class="current-song" hx-get="/now_playing" hx-target="#content" hx-trigger="click">
        <img src="/cover?artist={{artist|urlencode_strict}}&album={{album|urlencode_strict}}">
        <div>
            <b class="ellipsis">{% match status.artist %}{% when Some with (val) %}{{ val }}{% when None %}{% endmatch %}</b>
            <span class="ellipsis">{% match status.title %}{% when Some with (val) %}{{ val }}{% when None %}{% endmatch %}</span>
        </div>
    </div>
    {% when None %}{% endmatch %}
    {% when None %}{% endmatch %}
    {% endif %}
</div>
